{% extends 'base.html' %}


{% block app_content %}

<div class="row">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 ">
        <!-- using flask-bootstrap -->
        {#
        {% import 'bootstrap/wtf.html' as wtf %}
        {{ wtf.quick.form(form) }}
        #}
        <div class="login-form bg-light mt-4 p-4">
            <form action="" method="post" class="row g-3">
                {{ form.csrf_token }}
                <h4>Password Reset</h4>
                <hr>
                <!-- description -->
                <div class="alert alert-warning">
                    <span>
                        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
                    </span>
                </div>

                <!-- email -->
                {% if form.email.errors %}
                <div class="col-12" style="margin-top: 0;">
<!--                    <label class="fw-bold text-danger">Email</label>-->
                    <input type="text" name="email" class="form-control border border-danger" placeholder="Email">
                </div>
                <ul style="margin-bottom:-16px;">
                    {% for error in form.email.errors %}
                    <li class=" alert alert-danger alert-dismissible fade show">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="col-12" style="margin-top: 0;">
<!--                    <label>Email</label>-->
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
                {% endif %}

                <!-- valid not a robot -->
                <!-- need go to "https://www.google.com/recaptcha/admin/create" register 127.0.0.1
                1. choose reCAPTCHA v2 'I'm not a robot'
                2. copy KEY to config.py -->
                {#
                {{ form.recaptcha }}
                #}

                <!-- sign in button -->
                <div class="col-12">
                    <button type="submit" class="btn btn-dark float-end">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
